name: Deploy vcrypto trading

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e
            mkdir -p /home/ubuntu/vcrypt-project
            cd /home/ubuntu/vcrypt-project

            if [ ! -d ".git" ]; then
              git clone https://github.com/Mahesh4651/VCrypt_Trading-Code.git .
            else
              git pull origin main
            fi

            docker-compose down || true
            docker-compose up -d --build
