name: Deploy vcrypto trading

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e

            APP_DIR=/home/ubuntu/vcrypt-project
            REPO_URL=https://github.com/Mahesh4651/VCrypt_Trading-Code.git

            mkdir -p "$APP_DIR"
            cd "$APP_DIR"

            if [ -d ".git" ]; then
              echo "Git repo exists → pulling latest code"
              git pull origin main
            else
              echo "No git repo found"

              if [ "$(ls -A .)" ]; then
                echo "Directory not empty → cleaning"
                rm -rf ./*
                rm -rf ./.??*
              fi

              echo "Cloning repository"
              git clone "$REPO_URL" .
            fi
